   <div class="col-xs-12 col-sm-12 col-md-12 text-center">
      <div class="thumbnail">
         <img src="{{ this.imagePath }}" alt="..." class="img-responsive">
         <div class="caption" >
            <h4>{{ this.title }}</h4>
            <h4 class="text-danger"> Model {{ this.description }} <h4>
            <h4> Mileage  <strong>{{this.mileage}}</strong> </h4>
            <h4> Engine  <strong>{{this.engine}}</strong> </h4>
            <h4> BHP  <strong>{{this.bhp}}</strong> </h4>
            <h4> Capacity  <strong>{{this.seaters}}</strong> </h4>
            <h4> Fuel Type  <strong>{{this.fueltype}}</strong> </h4>
            <h4> Vehicle Type  <strong>{{this.vehicleType}}</strong> </h4>
            <h4> Transmission  <strong>{{this.transmission}}</strong> </h4>
            <h5 class="remaining" hidden>
            Stock : {{ this.stock }} Units
            <h5>
            <div class="clearfix">
               <form action="/add-to-cart/{{this._id}} method="get">
                  <div class="price">Rs.{{ this.price }} Lakh</div>

                  <div class="row col-sm-6 col-md-6 col-xs-6">
                     <div class="input-group pull-right">
                        <span class="input-group-addon hidden">Qty</span>
                        <input type="number" class="form-control hidden" id="qty" name ="qty" aria-describedby="basic-addon3" value='1' min="1" max="5" >
                     </div>
                  </div>
                  <br>
                  <br>
                  <button type="submit" class="btn btn-success">Book a test ride</button>
               </form>
            </div>                              
         </div>
      </div>
   </div>

<hr class="divider">
<footer>
   <p class="pull-right">
      <a href="#">Back To Top</a>
   </p>
   <p>Designed By kanjikappa . 
      <a href="#">Privacy</a> . 
      <a href="#">Terms</a>
   </p>
</footer>